*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Poppins", "Sans-serif";
}

body{
    background-color: rgb(90, 5, 169);
}

h2{
    color: #fff;
    font-size: 30px;
    margin: 100px auto 50px;
    text-align: center;
}
#search-form{
    width: 90%;
    background: #434889;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 8px;
}
#search-box{
    height: 100%;
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 30px;
    color: #fff;
    font-size: 18px;
}
#submit-btn{
    padding: 20px 40px;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    background: #ff3929;
    border: none;
    outline: none;
    color: #fff;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
::placeholder{
    color: #fff;
    font-size: 18px;
}
#show-more-btn{
    padding: 10px 20px;
    background-color: #ff3929;
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
    margin: 10px auto 100px;
    display: none;
    cursor: pointer;
}
#search-result{
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
#search-result img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}