*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, Tahoma;
}
.base{
    width: 100%;
    min-height: 100vh;
    background: #82aa09;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup{
    width: 300px;
    height: 450px;
    background-color: #fff;
    display: none;
    flex-direction: column;
    border-radius: 6px;
    position: fixed;
}
.top{
    width: 100%;
    height: 45%;
    overflow: hidden;
    position: relative;
}
.top .model{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.top .close{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.bottom{
    padding: 10px 20px;
}
.bottom h1{
    margin: none;
}
.sub-heading{
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #eb5408;
}
.description{
    margin-bottom: 20px;
}
form{
    background: #bdb0a9;
    height: 40px;
    border-radius: 5px;
    display: flex;
}
form #email{
    flex: 1;
    background: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    color: #fff;
}
form button{
    padding: 0 5px;
    background: #eb5408;
    border: none;
    outline: none;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
::placeholder{
    color: #fff;
}