body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background: rgb(2, 15, 36);
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
}

#right, #left{
    border: dashed white 2px;
    width: 300px;
    height: 400px;
    padding-bottom: 20px;
} 
.list{ 
    height: 60px;
    padding-top: 10px;
    margin: 30px;
    background: rgb(132, 9, 85);
    display: flex;
    align-items: center;
    cursor: grab;
    color: white;
}

.list img{
    width: 20px;
    margin-right: 15px;
    margin-left: 20px;
}